<div id="layoutDefault_footer">
    <footer class="footer pt-10 pb-5 mt-auto bg-white footer-light">
        <div class="container px-5">
            <div class="row gx-5">
                <div class="col-lg-5" style="text-align: left;">
                    <div class="footer-brand">Catalpro</div>
                    <div class="icon-list-social mb-5">
                        <a class="icon-list-social-link" href="#!"><i class="fab fa-instagram"></i></a>
                        <a class="icon-list-social-link" href="#!"><i class="fab fa-facebook"></i></a>
                        <a class="icon-list-social-link" href="#!"><i class="fab fa-github"></i></a>
                        <a class="icon-list-social-link" href="#!"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row gx-5">
                        <div class="col-lg-5 col-md-7 mb-5 mb-lg-0" style="text-align: left;">
                            <div class="text-uppercase-expanded text-xs mb-4">Enlaces de Interés</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="#!">Inicio</a></li>
                                <li class="mb-2"><a href="#!">¿Quiénes somos?</a></li>
                                <li class="mb-2"><a href="#!">Servicios</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-5 col-md-7" style="text-align: left;">
                            <div class="text-uppercase-expanded text-xs mb-4">Contacto</div>
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><a href="#!">Av. Nueva Providencia 1881, Providencia, Region Metropolitana</a></li>
                                <li><a href="#!">{{'contacto@catalpro.cl'}}</a></li>
                                <li class="mb-2"><a href="#!">+56 9 5516 6356</a></li>
                                <li class="mb-2"><a href="#!">+56 9 4921 6770</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-5" />
            <div class="row gx-5 justify-content-center align-items-center">
                <div class="col-12 small text-center">Todos los Derechos Reservados &copy; Catalpro 2024</div>
                <!-- <div class="col-md-6 text-md-end small">
                    <a href="#!">Privacy Policy</a>
                    &middot;
                    <a href="#!">Terms &amp; Conditions</a>
                </div> -->
            </div>
        </div>
    </footer>
  </div>