<header class="header-area header-sticky">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo" style="width: 244px !important; height: 80px !important;">
                      <img src="assets/images/logo_catal.png" style="width: 50%;" alt="">
                  </a>
                  <!-- ***** Logo End ***** -->
                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                    <li><a href="" class="logo"><i class="fab fa-facebook"></i></a></li>

                      <li><a href="" ><i class="fab fa-instagram" style="width: 100%;"></i></a></li>
                      <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                      <li class="scroll-to-section"><a href="#services">Servicios</a></li>
                      <li class="scroll-to-section"><a href="#about">¿Quienes Somos?</a></li>
                      <li class="scroll-to-section"><a [routerLink]="['/contactanos']"  >Contáctanos</a></li>
                      <li class="scroll-to-section"><a [routerLink]="['/propiedades']"  >Propiedades</a></li>
                      <!-- <li class="has-sub">
                          <a href="javascript:void(0)">Pages</a>
                          <ul class="sub-menu">
                              <li><a href="about-us.html">About Us</a></li>
                              <li><a href="our-services.html">Our Services</a></li>
                              <li><a href="contact-us.html">Contact Us</a></li>
                          </ul>
                      </li> -->
                      <!-- <li class="scroll-to-section"><a href="#testimonials">Testimonials</a></li> -->
                      <li><a href="contact-us.html">Agende su Asesoría ¡GRATIS!</a></li>
                  </ul>
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>
<!-- ***** Header Area End ***** -->
<div class="economic-banner">
    <div class="marquee">
      <div class="marquee-content">
        @for ( indicator of economicIndicators; track $index) {
            <div class="indicator-card">{{indicator.dolar.nombre}}: ${{indicator.dolar.valor}}</div>
            <div class="indicator-card">{{indicator.euro.nombre}}: ${{indicator.euro.valor}}</div>
            <div class="indicator-card">{{indicator.ipc.nombre}}: {{indicator.ipc.valor}}%</div>
            <div class="indicator-card">{{indicator.uf.nombre}}: ${{indicator.uf.valor}}</div>
            <div class="indicator-card">{{indicator.utm.nombre}}: ${{indicator.utm.valor}}</div>
            <div class="indicator-card">{{indicator.ivp.nombre}}: ${{indicator.ivp.valor}}</div>
            <div class="indicator-card">{{indicator.tpm.nombre}}: {{indicator.tpm.valor}}%</div>
        }
      </div>
      <div class="marquee-content">
        @for ( indicator of economicIndicators; track $index) {
            <div class="indicator-card">{{indicator.dolar.nombre}}: ${{indicator.dolar.valor}}</div>
            <div class="indicator-card">{{indicator.euro.nombre}}: ${{indicator.euro.valor}}</div>
            <div class="indicator-card">{{indicator.ipc.nombre}}: {{indicator.ipc.valor}}%</div>
            <div class="indicator-card">{{indicator.uf.nombre}}: ${{indicator.uf.valor}}</div>
            <div class="indicator-card">{{indicator.utm.nombre}}: ${{indicator.utm.valor}}</div>
            <div class="indicator-card">{{indicator.ivp.nombre}}: ${{indicator.ivp.valor}}</div>
            <div class="indicator-card">{{indicator.tpm.nombre}}: {{indicator.tpm.valor}}%</div>
        }
      </div>
    </div>
  </div>

<!-- ***** Main Banner Area Start ***** -->
<div class="swiper-container" >
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="slide-inner" style="background-image:url(assets/images/img-6.jpeg)">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="header-text">
                <h2>Vende y Arrienda<br>en tiempo record con CATALPRO</h2>
                <div class="div-dec"></div>
                <!-- <p>Mexant HTML5 Template is provided for free of charge. This layout is based on Boostrap 5 CSS framework. Anyone can download and edit for any professional website. Thank you for visiting TemplateMo website.</p> -->
                <!-- <div class="buttons">
                  <div class="green-button">
                    <a href="#">Discover More</a>
                  </div>
                  <div class="orange-button">
                    <a href="#">Contact Us</a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-inner" style="background-image:url(assets/images/img-7.jpeg)">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="header-text">
                <!-- <h2><em>Digital</em> Currency for you <br>&amp; Best <em>Crypto</em> Tips</h2> -->
                <h2 style="color: #003366;">PUEDES PAGAR EL SERVICIO DE CORRETAJE <em>HASTA EN 3 CUOTAS.</em></h2>
                 <h2></h2>
                <div class="div-dec"></div>
                <!-- <div class="buttons">
                  <div class="green-button">
                    <a href="#">Discover More</a>
                  </div>
                  <div class="orange-button">
                    <a href="#">Contact Us</a>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">
      <div class="slide-inner" style="background-image:url(assets/images/img-4.jpeg)">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="header-text">
                <h2 style="color: #003366;">Descubre como podemos<br>  <em>Ayudarte</em></h2>
                <div class="div-dec"></div>
                <!-- <p style="color: #4A4A4A;">Ofrecemos soluciones a medida para la<br> Venta <em>&amp; Arriendo</em></p> -->
                <div class="buttons">
                  <!-- <div class="green-button">
                    <a href="#">Discover More</a>
                  </div> -->
                  <div class="orange-button">
                    <a href="#">Agende su Asesoría ¡GRATIS!</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="swiper-pagination"></div> -->
  <div class="swiper-button-next swiper-button-white"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
</div>

<!-- ***** Main Banner Area End ***** -->

<section class="services" id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="service-item" (click)="formularioContacto('Venta de Propiedades', 'Envíanos un mensaje para Vender/Comprar una propiedad.')">
          <i class="fas fa-dollar"></i>
          <h4>Venta de Propiedades</h4>
          <p>Vende tu propiedad.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-item" (click)="formularioContacto('Arriendo de Propiedades', 'Envíanos un mensaje si quieres arrendar o tienes una propiedad en arriendo.')">
          <i class="fas fa-home"></i>
          <h4>Arriendo de Propiedades</h4>
          <p>Arrienda tu propiedad.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-item" (click)="formularioContacto('Administración de propiedades', 'Envíanos un mensaje si deseas asesoría de administración.')">
          <i class="fas fa-chart-bar"></i>
          <h4>Administración de propiedades</h4>
          <p>Administra tu propiedad.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="service-item" (click)="formularioContacto('Contratos', 'Envíanos un mensaje y te enviaremos el contrato que necesites.')">
          <i class="fas fa-file"></i>
          <h4>Contratos</h4>
          <p>Venta de contratos digitales.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="simple-cta">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <!-- <h4>Business <em>Solutions</em> and <strong>Crypto</strong> Investments</h4> -->
        <h4>Ofrecemos <em>Soluciones</em> a <strong>medida</strong> para la venta y arriendo de tu propiedad</h4>
      </div>
      <div class="col-lg-7">
        <div class="buttons">
          <!-- <div class="green-button">
            <a href="#">Discover More</a>
          </div> -->
          <div class="orange-button">
            <a href="#">Agende su Asesoría ¡GRATIS!</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="top-section about-us" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h6>Sobre Nosotros</h6>
            <h4>Conócenos mejor</h4>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="left-image">
          <img src="assets/images/img-quienes-somos.jpeg" alt="">
        </div>
      </div>
      <div class="col-lg-6 align-self-center">
        <div>
          <p>En Catalpro, somos expertos en la venta, arriendo y administración de propiedades. Con más de 5 años de experiencia
            en el sector inmobiliario, ofrecemos un servicio profesional y personalizado que se adapta a tus necesidades. Nos
            apasiona brindarte la mejor experiencia en cada etapa del proceso,  asegurando que te sientas acompañado desde el primer
            contacto hasta la firma del contrato.
          </p>
          <p>
            Nuestro equipo de profesionales está comprometido en ayudarte a encontrar la propiedad perfecta o en gestionar eficientemente
            la venta o arriendo de tu inmueble. En Catalpro, transformamos tus sueños inmobiliarios en realidades palpables.
          </p>
          <p>
            Confía en nosotros para recibir asesoría experta, estrategias de marketing efectivas y una gestión integral que maximiza el valor
            de tu propiedad. ¡Hagamos juntos que tu próximo movimiento inmobiliario sea un éxito!
          </p>
        </div>
      </div>
  </div>
  </div>
</section>

<section class="calculator">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="left-image">
          <img src="assets/images/calculator-image.png" alt="">
        </div>
      </div>
      <div class="col-lg-5">
        <div class="section-heading">
          <!-- <h6>Your Freedom</h6> -->
          <h2>Contáctanos</h2>
        </div>
        <form id="calculate" [formGroup]="formContacto">
          <div class="row">
            <div class="col-lg-6">
              <fieldset>
                <label for="nombreCompleto">Nombre Completo</label>
                <input type="nombreCompleto" name="nombreCompleto" id="nombreCompleto" formControlName="nombreCompleto" placeholder="" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-6">
              <fieldset>
                <label for="email">Correo</label>
                <input type="text" name="email" id="email" formControlName="email" pattern="[^ @]*@[^ @]*" placeholder="" required="">
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <label for="telefono">Teléfono</label>
                <input type="telefono" name="telefono" id="telefono" formControlName="telefono" placeholder="" autocomplete="on" >
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea name="mensaje" id="mensaje" formControlName="mensaje"></textarea>
            </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="orange-button">Enviar Mensaje</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- <section class="testimonials" id="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h6>Testimonials</h6>
          <h4>What They Say</h4>
        </div>
      </div>
      <div class="col-lg-10 offset-lg-1">
        <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
          <div class="item">
            <i class="fa fa-quote-left"></i>
            <p>“Donec et nunc massa. Nullam non felis dignissim, dapibus turpis semper, vulputate lorem. Nam volutpat posuere tellus, in porttitor justo interdum nec. Aenean in dapibus risus, in euismod ligula. Aliquam vel scelerisque elit.”</p>
            <h4>David Eigenberg</h4>
            <span>CEO of Mexant</span>
            <div class="right-image">
              <img src="assets/images/testimonials-01.jpg" alt="">
            </div>
          </div>
          <div class="item">
            <i class="fa fa-quote-left"></i>
            <p>“Etiam id ligula risus. Fusce fringilla nisl nunc, nec rutrum lectus cursus nec. In blandit nibh dolor, at rutrum leo accumsan porta. Nullam pulvinar eros porttitor risus condimentum tempus.”</p>
            <h4>Andrew Garfield</h4>
            <span>CTO of Mexant</span>
            <div class="right-image">
              <img src="assets/images/testimonials-01.jpg" alt="">
            </div>
          </div>
          <div class="item">
            <i class="fa fa-quote-left"></i>
            <p>“Ut dictum vehicula massa, ac pharetra leo tincidunt eu. Phasellus in tristique magna, ac gravida leo. Integer sed lorem sapien. Ut viverra mauris sed lobortis commodo.”</p>
            <h4>George Lopez</h4>
            <span>Crypto Manager</span>
            <div class="right-image">
              <img src="assets/images/testimonials-01.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
      <div class="col-lg-2 col-sm-4 col-6">
        <div class="item">
          <img src="assets/images/client-01.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>Copyright © 2024 Catalpro Todos los Derechos Reservadoss.

        <br>Diseñado y Creado por <a title="CSS Templates" rel="sponsored" href="https://templatemo.com" target="_blank">Nicolás Catalán</a></p>
      </div>
    </div>
  </div>
</footer> -->
<app-footer></app-footer>
