<app-header></app-header>

<section class="services" id="services">
  <div class="container" style="margin-bottom: 15% !important; margin-top: 10% !important;">
    @if (tipoSeleccionado != '') {
      <div class="row mb-3">
        <div class="example-button-row">
          <button mat-raised-button (click)="tipoPropiedad('')">Volver</button>
        </div>
      </div>
    }
    <div class="row">
      @if (tipoSeleccionado == '' || tipoSeleccionado == '') {
        <mat-grid-list cols="2" rowHeight="1:1" style="background-image: url('../../../assets/images/propiedades/fondo-propiedades.jpeg'); background-repeat: no-repeat;">
          <div class="container">
            <mat-grid-tile class="tile-izquierda" (click)="tipoPropiedad('venta')"><h2>Propiedades en Venta</h2></mat-grid-tile>
            <mat-grid-tile class="tile-derecha" (click)="tipoPropiedad('arriendo')"><h2>Propiedades en Arriendo</h2></mat-grid-tile>
          </div>
        </mat-grid-list>
      }
      @if (tipoSeleccionado == 'venta') {
        <div class="responsive-grid">
          <!-- Casa La Rioja -->
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Región Metropolitana</mat-card-title>
              <mat-card-subtitle>Quinta Normal</mat-card-subtitle>
            </mat-card-header>
            <p-galleria
              [value]="imagesLaRioja"
              [(visible)]="displayLaRioja"
              [responsiveOptions]="responsiveOptions"
              [containerStyle]="{ 'max-width': '50%' }"
              [numVisible]="9"
              [circular]="true"
              [fullScreen]="true"
              [showItemNavigators]="true">
                  <ng-template pTemplate="item" let-item>
                      <img
                          [src]="item.itemImageSrc"
                          style="width: 100%; display: block;" />
                  </ng-template>
                  <!-- <ng-template pTemplate="thumbnail" let-item>
                      <div class="grid grid-nogutter justify-content-center">
                          <img
                              [src]="item.thumbnailImageSrc"
                              style="display: block;" />
                      </div>
                  </ng-template> -->
            </p-galleria>
            <div style="height: 257px !important;">
              <img mat-card-image (click)="displayLaRioja = true" src="../../../assets/images/propiedades/casa-larioja-1.jpg" alt="dpto-nuble" style="width: 100% !important; height: 257px !important;">
            </div>
            <mat-card-content>
              <h2 class="mt-4">Contáctanos para conocer el valor.</h2>
              <p class="col-12">
                ¿Buscas una inversión segura o un lugar con potencial para remodelar a tu gusto?  ¡Tenemos la propiedad perfecta para ti!
                <!-- <strong>Ubicación privilegiada:</strong> En el corazón de Quinta Normal, con entrada por Pasaje 4 y salida por La Rioja. ¡Todo a tu alcance! Autopistas, Supermercados, Servicios de Salud, Educación, Seguridad,  a pasos de Av. Carrascal. -->


              </p>
              <mat-chip-set aria-label="Dog selection">
                <mat-chip [style]="{'background': 'green','border':'none','color':'white'}">
                  <img
                    matChipAvatar
                    src="../../../assets/images/check.svg"
                    alt="check"
                  />
                  En Venta
                </mat-chip>
              </mat-chip-set>
              <div class="row mt-3">
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/bed.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">4 dormitorios</p>
                </div>
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/shower.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">1 baño</p>
                </div>
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/sala-estar.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">1 Sala de estar</p>
                </div>
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/estacionamiento.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">1 Estacionamiento</p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="p-3 justify-content-end gap-2">
              <!-- <button mat-raised-button [routerLink]="['/detalle-propiedad']">Ver Propiedad</button> -->
              <button mat-raised-button [style]="{'background':'#0d6efd','color':'white'}" (click)="contacto()">Contáctanos</button>
            </mat-card-actions>
          </mat-card>
          <!-- Casa Pudahuel -->
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Región Metropiltana</mat-card-title>
              <mat-card-subtitle>Pudahuel</mat-card-subtitle>
            </mat-card-header>
            <p-galleria
              [value]="imagesPudahuel"
              [(visible)]="displayPudahuel"
              [responsiveOptions]="responsiveOptions"
              [containerStyle]="{ 'max-width': '50%' }"
              [numVisible]="9"
              [circular]="true"
              [fullScreen]="true"
              [showItemNavigators]="true">
                  <ng-template pTemplate="item" let-item>
                      <img
                          [src]="item.itemImageSrc"
                          style="width: 100%; display: block;" />
                  </ng-template>
                  <!-- <ng-template pTemplate="thumbnail" let-item>
                      <div class="grid grid-nogutter justify-content-center">
                          <img
                              [src]="item.thumbnailImageSrc"
                              style="display: block;" />
                      </div>
                  </ng-template> -->
            </p-galleria>
            <div style="height: 257px ;">
              <img mat-card-image (click)="displayPudahuel = true" src="../../../assets/images/propiedades/casa-pudahuel-1.jpeg" alt="dpto-nuble" style="width: 100% !important; height: 257px !important;">
            </div>
            <mat-card-content>
              <h2 class="mt-4">UF 3.592</h2>
              <p>
                Se vende hermosa casa ubicada en la comuna de Pudahuel.
              </p>
              <mat-chip-set aria-label="Dog selection">
                <mat-chip [style]="{'background': 'orange','border':'none','color':'white'}">
                  <img
                    matChipAvatar
                    src="../../../assets/images/check.svg"
                    alt="check"
                  />
                  En Venta
                </mat-chip>
              </mat-chip-set>
              <div class="row mt-3">
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/bed.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">2 dormitorios</p>
                </div>
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/shower.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">1 baño</p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="p-3 justify-content-end gap-2" style="height: 100%; align-items: end ;">
              <!-- <button mat-raised-button>Ver Propiedad</button> -->
              <button mat-raised-button [style]="{'background':'#0d6efd','color':'white'}" (click)="contacto()">Contáctanos</button>
            </mat-card-actions>
          </mat-card>
        </div>
      }
      @if (tipoSeleccionado == 'arriendo') {
        <div class="responsive-grid">
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Región Metropolitana</mat-card-title>
              <mat-card-subtitle>Santiago</mat-card-subtitle>
            </mat-card-header>
            <p-galleria
              [value]="imagesNuble"
              [(visible)]="displayNuble"
              [responsiveOptions]="responsiveOptions"
              [containerStyle]="{ 'max-width': '50%' }"
              [numVisible]="9"
              [circular]="true"
              [fullScreen]="true"
              [showItemNavigators]="true">
                  <ng-template pTemplate="item" let-item>
                      <img
                          [src]="item.itemImageSrc"
                          style="width: 100%; display: block;" />
                  </ng-template>
                  <!-- <ng-template pTemplate="thumbnail" let-item>
                      <div class="grid grid-nogutter justify-content-center">
                          <img
                              [src]="item.thumbnailImageSrc"
                              style="display: block;" />
                      </div>
                  </ng-template> -->
            </p-galleria>
            <img mat-card-image (click)="displayNuble = true" src="../../../assets/images/propiedades/dpto-nuble-4.jpeg" alt="dpto-nuble" style="width: 100% !important; height: 257px !important;">
            <mat-card-content>
              <h2 class="mt-4">$415.000</h2>
              <p>
                Arriendo departamento ubicado en la comuna de Santiago, a pasos de Metro Ñuble, Av. Vicuña Mackenna, Portal Ñuñoa.

              </p>
              <mat-chip-set aria-label="Dog selection">
                <mat-chip [style]="{'background': 'green','border':'none','color':'white'}">
                  <img
                    matChipAvatar
                    src="../../../assets/images/check.svg"
                    alt="check"
                  />
                  En Arriendo
                </mat-chip>
              </mat-chip-set>
              <div class="row mt-3">
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/bed.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">2 dormitorios</p>
                </div>
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/shower.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">1 baño</p>
                </div>
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/bodega.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">1 bodega</p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="p-3 justify-content-end gap-2">
              <!-- <button mat-raised-button>Ver Propiedad</button> -->
              <button mat-raised-button [style]="{'background':'#0d6efd','color':'white'}" (click)="contacto()">Arrendar</button>
            </mat-card-actions>
          </mat-card>
          <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Región Metropiltana</mat-card-title>
              <mat-card-subtitle>Quinta Normal</mat-card-subtitle>
            </mat-card-header>
            <div style="height: 257px ;">
              <img mat-card-image src="../../../assets/images/propiedades/dpto-qta-normal-1.jpg" alt="dpto-nuble" style="width: 100% !important; height: 257px !important;">
            </div>
            <mat-card-content>
              <h2 class="mt-4">$360.000</h2>
              <p>
                Arriendo departamento ubicado en la comuna de Quinta Normal, buena conectividad, locomoción colectiva en la puerta del edificio.
              </p>
              <mat-chip-set aria-label="Dog selection">
                <mat-chip [style]="{'background': 'orange','border':'none','color':'white'}">
                  <img
                    matChipAvatar
                    src="../../../assets/images/check.svg"
                    alt="check"
                  />
                  Arrendada
                </mat-chip>
              </mat-chip-set>
              <div class="row mt-3">
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/bed.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">2 dormitorios</p>
                </div>
                <div class="col-4 d-flex flex-row align-items-center gap-3">
                  <img src="../../../assets/images/shower.svg" style="width: 40px;" alt="">
                  <p class="p-0 m-0">1 baño</p>
                </div>
              </div>
            </mat-card-content>
            <mat-card-actions class="p-3 justify-content-end gap-2">
              <!-- <button mat-raised-button>Ver Propiedad</button> -->
              <button mat-raised-button [style]="{'background':'#0d6efd','color':'white'}" (click)="contacto()" [disabled]="true">Arrendar</button>
            </mat-card-actions>
          </mat-card>
        </div>
      }
    </div>

  </div>
</section>

<app-footer></app-footer>
